@model WorkManagement.Core.Models.WorkerGallery

@{
    ViewBag.Title = "Delete";
}

<br />

<h3>Are you sure you want to delete this gallery?</h3>
<div class="col-md-12">
    <div class="col-md-3">
        <div class="col-md-12">
            <img class="img-responsive" style="height:250px" src="~/Content/Galleries/@Model.GalleryUrl" />
        </div>
    </div>
    <br />
    <div class="col-md-9">
        <div class="col-md-12">
            <h4>Created At : @Model.CreatedAt.ToString("dd.MM.yyyy")</h4>
        </div>
        <br />
        <div class="col-md-12">
            <h4>Gallery Name : @Model.GalleryName</h4>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index",null,new {@class="btn btn-default" })
            </div>
        }

    </div>
</div>